 html, body {
 	height: 100%;
 	margin: 0;
 	padding: 0;
 	font-family: 'Nunito', sans-serif !important;
 }

.green {
	color: #00c757 !important;
}

#content-wrapper {
	width: 100%;
	max-width: 500px;
	margin: auto !important;
}

#site-title {
	text-align: center;
	font-size: 34px;
}

#top-image {
	width: 100%;
	max-width: 500px;
	border-radius: 4px;
}

.title {
	margin-bottom: 0px !important;
}

.person {
	padding: 10px !important;
}

.person-img{
	width: 100%;
	border-radius: 5px;
}

.learn-img{
	width: 100%;
	border-radius: 5px;
}


#logo-wrapper {
	max-width: 500px;
	margin: auto !important;
}

.section {
	font-size: 16px;
	/*margin-bottom: 10px;*/
}

#share-title {
	margin-top: 10px !important;
}

.social-logo {
	width: 100%;
}

.spacer {
	height: 50px;
}